<div
class="creature-cell">
<div class="creature-rolls">
  <h2> {{ creature.name }} </h2>
  <div class="header-name-score">
    <h4>CR: {{ creature.challenge }} Exp: {{ creature.experience }}  </h4>
  </div>
  <h5><i>{{ creature.size}} {{creature.creatureType}}, {{ creature.alignment }}</i></h5>
  <div [style.display]="'flex'">
    <app-skill-stats-score 
      [creature]="creature">
    </app-skill-stats-score>
    <img src="{{ creature.imgUrl }}" />
  </div>
  <hr>
  <app-proficiency-stats
    [creature]="creature">
  </app-proficiency-stats>
</div>
