
<div class="login-page">
  <div class="login-header">
    <button mat-button (click)="openCreateAccountView()">Create Account</button>
    <button mat-button (click)="openLoginView()">Login</button>
  </div>

  <div class="login-body">
    <div [style.width.px]="250">
      <div *ngIf="isLogin || isCreateAccount">
        <div>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email"
              name="username"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="username"
            />
          </mat-form-field>
        </div>
        <div *ngIf="isCreateAccount">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Display Name"
              name="displayName"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="displayName"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Password"
              name="password"
              type="password"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="password"
            />
          </mat-form-field>
        </div>
        <div *ngIf="isCreateAccount">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Re-enter Password"
              name="rewritePassword"
              type="password"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="rewritePassword"
            />
          </mat-form-field>
        </div>
        <div class="execution-buttons">
          <button
            mat-button
            [disabled]="loggingIn"
            *ngIf="isLogin"
            (click)="login()"
          >
            Login
          </button>
          <button
            mat-button
            [disabled]="loggingIn"
            *ngIf="isCreateAccount"
            (click)="createAccount()"
          >
            Create Account
          </button>
        </div>
      </div>
    </div>

    <h5>{{ message }}</h5>
  </div>
</div>
