<div [style.display]="'flex'">
  <div
    class="summary-panel"
    *ngFor="let asset of activeAssets; let i = index"
  >
    <h4>{{ asset.name }}</h4>
    <div class="summary-stats">
      <img (click)="onSelect(i + 1)" src="{{ asset.imgUrl }}" />
      <div>
        <h5>AC:{{ asset.armorClass }}</h5>
        <h5>HP:{{ asset.currentHitPoints }}/{{ asset.maxHitPoints }}</h5>
      </div>
    </div>
    <div *ngFor="let action of asset.actions">
      <hr />
      <app-action-button
        label="Hit"
        diceEquation="{{ 'd20+' + action.attackModifier }}"
        [minimumForSuccess]="asset?.armorClass"
        [advantage]="asset.hasAdvantage"
        [disadvantage]="asset.hasDisadvantage"
        [asterisk]="action.allowedInMultipleAttacks"
      >
      </app-action-button>
      <app-action-button [label]="action.name" [diceEquation]="action.dice">
      </app-action-button>
    </div>
  </div>
</div>
