<div [style.display]="'flex'">
  <div
    class="summary-panel"
    *ngFor="let creature of activeCreatures; let i = index"
  >
    <h4>{{ creature.name }}</h4>
    <div class="summary-stats">
      <img (click)="onSelect(i + 1)" src="{{ creature.imgUrl }}" />
      <div>
        <h5>AC:{{ creature.armorClass }}</h5>
        <h5>HP:{{ creature.currentHitPoints }}/{{ creature.maxHitPoints }}</h5>
      </div>
    </div>
    <div *ngFor="let action of creature.actions">
      <hr />
      <app-action-button
        label="Hit"
        diceEquation="{{ 'd20+' + action.attackBonus }}"
        [minimumForSuccess]="creature?.armorClass"
        [advantage]="creature.hasAdvantage"
        [disadvantage]="creature.hasDisadvantage"
        [asterisk]="action.allowedInMultipleAttacks"
      >
      </app-action-button>
      <app-action-button [label]="action.name" [diceEquation]="action.dice">
      </app-action-button>
    </div>
  </div>
</div>
