img {
  padding: 5px;
  height: 75px;
  cursor: pointer;
}

.summary-stats {
  display: flex;
  

}

.summary-panel {
    width: auto;
    border-radius: 10px;
    margin: 7px;
    padding: 0px 8px 0px 10px;
    background-color: aliceblue;
}
