<div class="score-area">
  <app-action-button
    label="STR"
    diceEquation="{{ creature.abilities.strength |  abilityModifier }}"
    [advantage]="creature.hasAdvantage"
    [disadvantage]="creature.hasDisadvantage">  
  </app-action-button>
  <app-action-button
    label="DEX"
    diceEquation="{{ creature.abilities.dexterity  |  abilityModifier }}"
    [advantage]="creature.hasAdvantage"
    [disadvantage]="creature.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="CON"
    diceEquation="{{ creature.abilities.constitution  |  abilityModifier  }}"
    [advantage]="creature.hasAdvantage"
    [disadvantage]="creature.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="INT"
    diceEquation="{{ creature.abilities.intelligence  |  abilityModifier }}"
    [advantage]="creature.hasAdvantage"
    [disadvantage]="creature.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="WIS"
    diceEquation="{{ creature.abilities.wisdom  |  abilityModifier }}"
    [disadvantage]="creature.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="CHA"
    diceEquation="{{ creature.abilities.charisma  |  abilityModifier }}"
    [disadvantage]="creature.hasDisadvantage">
  </app-action-button>
</div>
