<div class="score-area">
  <app-action-button
    label="STR"
    diceEquation="{{ asset.abilities.STR |  abilityModifier }}"
    [advantage]="asset.hasAdvantage"
    [disadvantage]="asset.hasDisadvantage">  
  </app-action-button>
  <app-action-button
    label="DEX"
    diceEquation="{{ asset.abilities.DEX  |  abilityModifier }}"
    [advantage]="asset.hasAdvantage"
    [disadvantage]="asset.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="CON"
    diceEquation="{{ asset.abilities.CON  |  abilityModifier  }}"
    [advantage]="asset.hasAdvantage"
    [disadvantage]="asset.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="INT"
    diceEquation="{{ asset.abilities.INT  |  abilityModifier }}"
    [advantage]="asset.hasAdvantage"
    [disadvantage]="asset.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="WIS"
    diceEquation="{{ asset.abilities.WIS  |  abilityModifier }}"
    [disadvantage]="asset.hasDisadvantage">
  </app-action-button>
  <app-action-button
    label="CHA"
    diceEquation="{{ asset.abilities.CHA  |  abilityModifier }}"
    [disadvantage]="asset.hasDisadvantage">
  </app-action-button>
</div>
