<div class="adventure-page">
  <div class="auto-gen-container">
    <div class="auto-gen">
      <button mat-button (click)="getSpell()">GetSpell</button>
      <h3>Your Spell Is: {{ spell }}</h3>
    </div>
    <div class="auto-gen">
      <button mat-button (click)="getRandomName('otherMale')">Get Name</button>
      <h3>Your Name Is: {{ name }} {{ lastName }}</h3>
    </div>
    <div class="auto-gen">
    <button mat-button (click)="getDomicileName()">Get Name</button>
    <h3>Your Domicile Name Is: {{ domicile }}</h3>
    </div>
  </div>

  <!-- <button mat-button (click)="createCharacter()">Create Character</button> -->
  <div>
    <div class="player-proficiencies-group">
      <div class="player-proficiencies">
        <h1>Lycos</h1>
        <h3>Saving Throws</h3>
        <h4>- INT (ST): +3</h4>
        <h4>- WIS (ST): +6</h4>
        <hr>
        <h3>Proficiencies</h3>
        <h4>- Nature: +3</h4>
        <h4>- Animal Handling: +6</h4>
        <h4>- Insight: +4</h4>
        <h4>- Perception: +4</h4>        
        <hr>
        <h4>Investigation (Pass): 16</h4>
        <h4>Perception (Pass): 19</h4>
        <hr>
        <h3>Feat</h3>
        <h4>- Observant</h4>
        <h4>- </h4>
        <h4>- favor animals over people</h4>
      </div>
      <div class="player-proficiencies">
        <h1>Harn Smith</h1>
        <h3>- Saving Throws</h3>
        <h4>- CON (ST): +4</h4>
        <h4>- INT (ST): +5</h4>
        <hr>
        <h3>Proficiencies</h3>
        <h4>- Arcana: +5</h4>
        <h4>- Insight: +2</h4>
        <h4>- Perception: +2</h4>
        <h4>- Persuasion: +2</h4>
        <h4>- Tools</h4>
        <hr>
        <h4>- Perception (Pass): 12</h4>
        <hr>
        <h3>Feat</h3>
        <h4>- Keen Mind</h4>
        <h4>- </h4>
        <h4>- Everyone is a rival</h4>
    </div>
    <div class="player-proficiencies">
        <h1>Kade</h1>
        <h3>Saving Throws</h3>
        <h4>- STR: +2</h4>
        <h4>- DEX: +5</h4>
        <hr>
        <h3>Proficiencies</h3>
        <h4>- Athletics: +2</h4>
        <h4>- Stealth: +5</h4>
        <h4>- Nature: +2</h4>
        <h4>- Perception: +4</h4>
        <h4>- Survival: +4</h4>
        <hr>
        <h4>Perception (Pass): 14</h4>
        <hr>
        <h3>Feat</h3>
        <h4>- Sharp Shooter</h4>
        <h4>- </h4>
        <h4>- Cant kill elf woman</h4>
      </div>
    </div>
  </div>
</div>
