
<mat-icon 
  class="collapse"
  (click)="shrink = true"
  *ngIf="!shrink">
  chevron_left
</mat-icon>
<mat-icon 
  class="collapse"
  *ngIf="shrink"
  (click)="shrink = false">
  chevron_right
</mat-icon>
    
<div *ngIf="!shrink">
  <h1 class="creature-name">Actions</h1>
  <div *ngFor="let action of activeCreature.actions">
    <div class="hc-speed">
       <h4 class="creature-stat">{{ action.name }}</h4>
       <h4 class="hit-dice"> (d20+{{ action.attackBonus }}) </h4>
       <mat-icon 
         (click)="rollAttack(action.attackBonus)"
         aria-label="Example home icon">
         brightness_7
       </mat-icon>
       <h4 class="hit-dice"> {{ attack }} </h4>
       <h4 class="hit-dice"> ({{ action.dice }}) </h4>
       <mat-icon 
       (click)="rollDamage(action.dice)"
       aria-label="Example home icon">
       center_focus_weak
     </mat-icon>
     <h4 class="hit-dice"> {{ damage }} </h4>
    </div>
  </div>
  
  <hr/>
  

</div>