<div
  [style.display]="'flex'"
  *ngIf="asset.savingThrows.length > 0 ||
         asset.skillProficiencies.length > 0"
  
  >
  <div class="saving-throw-group">
    <h5>Saving Throws</h5>
    <div *ngFor="let savingThrow of asset.savingThrows">
      <app-action-button
        [label]="savingThrow.ability"
        diceEquation="{{ 'd20+' + savingThrow.value }}"
        [advantage]="asset.hasAdvantage"
        [disadvantage]="asset.hasDisadvantage">
      </app-action-button>
    </div>
  </div>
    <div class="proficiency-group">
    <div *ngIf="asset.skillProficiencies.length > 0">
      <div>
        <h5>Skill Proficiencies</h5>
        <div *ngFor="let proficiency of asset.skillProficiencies">   
            <app-action-button
              [label]="proficiency.ability"
              diceEquation="{{ 'd20+' + proficiency.value }}"
              [advantage]="asset.hasAdvantage"
              [disadvantage]="asset.hasDisadvantage">
            </app-action-button>
          </div>
        </div>
      </div>
    </div>
  </div>

