<div [style.display]="'flex'" *ngIf="creature.savingThrows.length > 0">
  <div class="saving-throw-group">
    <h5>Saving Throws</h5>
    <div *ngFor="let savingThrow of creature.savingThrows">
      <app-action-button
        [label]="savingThrow.ability"
        diceEquation="{{ 'd20+' + savingThrow.value }}"
        [advantage]="creature.hasAdvantage"
        [disadvantage]="creature.hasDisadvantage">
      </app-action-button>
    </div>
  </div>
    <div class="proficiency-group">
    <div *ngIf="creature.skillProficiencies.length > 0">
      <div>
        <h5>Proficiencies</h5>
        <div *ngFor="let proficiency of creature.skillProficiencies">   
            <app-action-button
              [label]="proficiency.ability"
              diceEquation="{{ 'd20+' + proficiency.value }}"
              [advantage]="creature.hasAdvantage"
              [disadvantage]="creature.hasDisadvantage">
            </app-action-button>
          </div>
        </div>
      </div>
    </div>
  </div>

