<h2>Actions</h2>
<mat-checkbox [(ngModel)]="asset.multiAttack" (change)="onSection()">Does This Creature Multiattack?</mat-checkbox>
<div *ngIf="asset.multiAttack">
  <mat-form-field class="example-full-width">
      <mat-label>Mulitattack Info</mat-label>
      <textarea
        matInput
        rows="4"
        cols="40"
        placeholder="Add Instruction for multiAttack"
        [(ngModel)]="asset.attackNotes"
        >
      </textarea>
  </mat-form-field>
  <div>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Number Of Attack Actions"
        [ngModelOptions]="{ standalone: true }"
        type="number"
        [(ngModel)]="asset.numberOfActions"
      />
    </mat-form-field>
  </div>
</div>
