
    <h4>Select Creature</h4>
    <mat-form-field>
        <mat-label>Creatures</mat-label>
        <mat-select
          [placeholder]="'Creature'"
          (selectionChange)="onCreatureChange($event)">
            <mat-option
              *ngFor="let creature of creatureList"
              [value]="creature">
                {{ creature }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button (click)="addCreature()">AddCreature</button>


    <div
      class="active-creatures"
      *ngFor="let activeCreature of activeCreatures, let i = index;">
       <div class="creature-cell" [class.creature-dead]="activeCreature.currentHitPoints <= 0">
          
        <div class="score-area">
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.strength, activeCreature)">
            <div class="ability">Str</div>
            <div class="score">{{ activeCreature.abilities.strength}}</div>
          </div>
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.dexterity, activeCreature)">
            <div class="ability">Dex</div>
            <div class="score">{{ activeCreature.abilities.dexterity}}</div>
          </div>
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.constitution, activeCreature)">
            <div class="ability">Con</div>
            <div class="score">{{ activeCreature.abilities.constitution}}</div>
          </div>
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.intelligence, activeCreature)">
            <div class="ability">Int</div>
            <div class="score">{{ activeCreature.abilities.intelligence}}</div>
          </div>
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.wisdom, activeCreature)">
            <div class="ability">Wis</div>
            <div class="score">{{ activeCreature.abilities.wisdom}}</div>
          </div>
          <div class="ability-score" (click)="rollAbility(activeCreature.abilities.charisma, activeCreature)">
            <div class="ability">Cha</div>
            <div class="score">{{ activeCreature.abilities.charisma}}</div>
          </div>    
          <div class="ability-score">
            <div class="ability"><strong>{{ activeCreature.abilityRoll || 0 }}</strong></div>
          </div>  
             
        </div> 
        <div class="trait-grouping">
          <battle-defense
            [activeCreature]="activeCreature">
          </battle-defense>
        </div>
         
        <div class="trait-grouping">
          <battle-offense
            [activeCreature]="activeCreature">
          </battle-offense>
        </div>
            
          <div class="trait-grouping">
         
          </div>
        </div>
    </div>