
.editable-area {
    position: absolute;
  
    .toolbar {
      position: absolute;
      left: -23px;
      display: grid;
    }
    
    .mat-icon {
      cursor: pointer;
      font-size: 15px;
  
      &:hover {
        color: maroon
      }
  
      &:active {
        font-size: 18px;
      }
    }
  
  
  }