.add-asset-container {
  padding: 20px;
  left: 204px;
}

.entry-group {
  display: flex;
  margin-bottom: 25px;
}

.display-area {
  border: 1px solid gray;
  padding: 15px;
}

.entry-field {
  width: 250px;
}