.active-creatures {
  padding: 10px;
  background-color: rgb(216, 216, 216);

  .creature-rolls {
    padding: 10px;
  }

  .creature-name {
    padding-left: 10px;
    font-weight: bold;
  }
}



.damage-quick-link {
  min-width: 25px;
  padding: 0 7px;
}

.creature-header {
  display: flex;

  .experience {
    padding-left: 10px;
  }
}


// new



.advantage-wrapper {
  display: flex;
}

.indicator {
  height: 3px;
}

.has-advantage {
  background-color: #26ff00;
}

.has-disadvantage {
  background-color: #ff0000;
}

.creature-dead {
  background-color: rgba(128, 0, 0, 0.418);
}