.active-creatures {
  padding: 10px;
  background-color: rgb(216, 216, 216);

  .creature-rolls {
    padding: 10px;
  }

  .creature-name {
    padding-left: 10px;
    font-weight: bold;
  }
}

.damage-quick-link {
  min-width: 25px;
  padding: 0 7px;
}

.creature-header {
  display: flex;

  .experience {
    padding-left: 10px;
  }
}

.display-area {
  display: flex;

  .quick-dice {
    width: 150px;
  }  
}

// new

.advantage-wrapper {
  display: flex;
}

.indicator {
  height: 3px;
}

.has-advantage {
  background-color: #26ff00;
}

.has-disadvantage {
  background-color: #ff0000;
}

.creature-dead {
  background-color: rgba(128, 0, 0, 0.418);
}

.attack-selector-selected {
  background-color: rgba(0, 0, 255, 0.397);
}

.attack-selector-container {
  margin-left: 50px;
  display: flex;

  h5,h6 {
    margin-top: 13px;
    margin-bottom: 0px;
  }

  .attack-selector {
    padding: 9px;
    margin-left: 10px;
    border-radius: 4px;

    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px;
    }

    &:hover {
      background-color: ghostwhite;
      cursor: pointer;
    }

    &:active {
      background-color: rgb(163, 163, 163);
    }
  }
}
