<mat-tab-group [(selectedIndex)]="assetSelectedIndex">
  <mat-tab label="Summary">
    <app-summary 
      (select)="onSelect($event)"
      [activeAssets]="activeAssets"
      [activePlayers]="activePlayers" 
    ></app-summary> 
  </mat-tab>
  <mat-tab *ngFor="let asset of activeAssets; let i = index"
    label="{{asset.currentHitPoints < 1 ? dead : asset.name}}"
  >
    
  <div class="advantage-wrapper">
       <button mat-button
         matTooltip="Remove Creature"
         (click)="removeCreature(i)">
           <mat-icon class="advantage">delete</mat-icon>
       </button>
       
       <button 
         mat-button
         matTooltip="Give Advantage"
         (click)="giveAdvantage(asset)">
           <mat-icon class="advantage">visibility</mat-icon>
        </button>
       <button 
         mat-button
         matTooltip="Remove Advantage"
         (click)="resetAdvantage(asset)"
         class="normal">
           None
        </button>
       <button 
         mat-button
         matTooltip="Give Disadvantage"
         (click)="giveDisadvantage(asset)">
           <mat-icon class="disadvantage">visibility_off</mat-icon>
       </button>
       <div class="attack-selector-container">
         <h6>Players/NPC's:</h6>
         <div
           *ngFor="let enemy of activePlayers"
           class="attack-selector"
           [class.attack-selector-selected]="enemy.name === asset.selectedAggressor?.name"
           (click)="onEnemySelect(asset, enemy)">
           <h4>{{ enemy.name }}</h4>
          </div>
       </div>
    </div>
    <div class="active-creatures">
        <span class="stat-numbers">
          <button
            class="damage-quick-link"
            mat-button
            (click)="takeDamage(asset, number)"
            *ngFor="let number of damageNumbers; let l = index">
            {{ number }}
          </button>
        </span>
      </div>
      <div [class.creature-dead]="asset.currentHitPoints <= 0">
  
      <div 
        class="indicator"
        [class.has-advantage]="asset.hasAdvantage"  
        [class.has-disadvantage]="asset.hasDisadvantage">
      </div>
      <div class="display-area">

        <div class="quick-dice">
          <app-action-button label="Roll" diceEquation="d100"></app-action-button>
          <app-action-button label="Roll" diceEquation="d20"></app-action-button>
          <app-action-button label="Roll" diceEquation="d12"></app-action-button>
          <app-action-button label="Roll" diceEquation="d10"></app-action-button>
          <app-action-button label="Roll" diceEquation="d8"></app-action-button>
          <app-action-button label="Roll" diceEquation="d6"></app-action-button>
          <app-action-button label="Roll" diceEquation="d4"></app-action-button>
        </div>
        <app-stats-panel 
        (damage)="takeDamage($event)"
        (heal)="takeDamage($event)"
        [asset]="asset"
        [selectedAsset]="asset.selectedAggressor">
      </app-stats-panel>
    </div>
    </div>
  </mat-tab>
</mat-tab-group>