<mat-tab-group>
  <mat-tab *ngFor="let activeCreature of activeCreatures; let i = index"
    label="{{activeCreature.currentHitPoints < 1 ? dead : activeCreature.name}}"
  >
    <div class="advantage-wrapper">
       <button mat-button (click)="giveAdvantage(activeCreature)"><mat-icon class="advantage">visibility</mat-icon></button>
       <button mat-button (click)="resetAdvantage(activeCreature)" class="normal">X</button>
       <button mat-button (click)="giveDisadvantage(activeCreature)"><mat-icon class="disadvantage">visibility_off</mat-icon></button>
       <div
         *ngFor="let player of activePlayers"
         class="attack-selector"
         [class.attack-selector-selected]="player === selectedPlayer"
         (click)="onPlayerSelect(player)">
         <h3>{{ player.name }}</h3>
        </div>
    </div>
    <div class="active-creatures">
        <span class="stat-numbers">
          <button
            class="damage-quick-link"
            mat-button
            (click)="activeCreature.currentHitPoints = activeCreature.currentHitPoints - number"
            *ngFor="let number of damageNumbers; let l = index">
            {{ number }}
          </button>
        </span>
      </div>
      <div [class.creature-dead]="activeCreature.currentHitPoints <= 0">
  
      <div 
        class="indicator"
        [class.has-advantage]="activeCreature.hasAdvantage"  
        [class.has-disadvantage]="activeCreature.hasDisadvantage">
      </div>
      <app-stats-panel 
        [creature]="activeCreature"
        [selectedCreature]="selectedPlayer">
      </app-stats-panel>
    </div>
  </mat-tab>
</mat-tab-group>
