.stat-list {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
  
    .trait-grouping {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 5px;
      border: solid grey;
      border-radius: 5px;
    }
  
    .standard-group {
      max-width: 250px;
    }
  }