<div class="stat-list">
  <div class="trait-grouping">
    <app-ability-stats [asset]="asset"></app-ability-stats>
  </div>
  <div class="trait-grouping standard-group">
    <app-creature-stats
      [asset]="asset"
      (damage)="damage.emit($event)"
      (heal)="heal.emit($event)"
    >
    </app-creature-stats>
  </div>
  <div
    *ngIf="asset.actions.length > 0 || asset.attackNotes"
    class="trait-grouping standard-group"
  >
    <app-battle-stats
      [asset]="asset"
      [selectedAsset]="selectedAsset"
    ></app-battle-stats>
  </div>
  <div
    class="trait-grouping standard-group"
    *ngIf="
      asset.vulnerabilities.length > 0 ||
      asset.resistances.length > 0 ||
      asset.conditionImmunities.length > 0 ||
      asset.immunities.length > 0
    "
  >
    <app-immunity-vulnerability-stats
      [asset]="asset"
    ></app-immunity-vulnerability-stats>
  </div>
</div>
<div>
  <div class="trait-grouping standard-group" *ngIf="asset.traits.length > 0">
    <app-trait-stats [asset]="asset"></app-trait-stats>
  </div>

  <div
    class="trait-grouping standard-group"
    *ngIf="
      asset.legendaryActions.length > 0 || asset.legendaryActionsInfo
    "
  >
    <app-legendary-actions-stats
      [asset]="asset"
    ></app-legendary-actions-stats>
  </div>
</div>
