
  <h1 class="defense-title">Defense</h1>
  <h4 class="creature-stat">AC: {{ activeCreature.armorClass }}</h4>
  <h4 class="creature-stat">Speed: {{ activeCreature.speed }}</h4>
  <h4 class="passive-perception">Passive Perception: {{ activeCreature.passivePerception }} </h4>
  <hr/>
  <div class="hc-speed">
    <h4 class="creature-stat">Max HP: {{ activeCreature.maxHitPoints }}</h4>
    <!-- <h4 class="hit-dice"> - </h4> -->
    <h4 class="hit-dice"> ({{ activeCreature.hitDice }}) </h4>
    <mat-icon 
      (click)="generateRandomHp()"
      aria-label="Example home icon">
      refresh
    </mat-icon>
  </div>

  <h3 class="creature-stat">HP: {{ activeCreature.currentHitPoints }}</h3>
  <div class="hc-speed">
    <form autocomplete="off">
      <mat-form-field class="example-full-width">
      <input
        placeholder="Damage"
        matInput
        name="attack"
        type="number"
        [(ngModel)]="activeCreature.lastDamageTaken">
      </mat-form-field>
    </form>   
    <mat-icon class="damage-action" (click)="takeDamage()">remove_circle</mat-icon> 
    <mat-icon class="healing-action" (click)="doHeal()">add_circle</mat-icon> 
  </div>

