   
<div *ngIf="!shrink"> 
    <div class="offense-header">
      <h1 class="creature-name">Actions ({{ creature.numberOfActions }})</h1>
      <mat-icon (click)="refreshAttack()" >refresh</mat-icon>
    </div>
    <div *ngIf="creature.attackNotes">
      <h5>{{ creature.attackNotes }}</h5>
      <hr>
    </div>
    <div *ngFor="let action of creature.actions">
      <div *ngIf="action.name">
        <h5 class="attack-type">{{ action.attackType }}</h5>
        <app-action-button
          label="Hit"          
          diceEquation="{{ 'd20+' + action.attackBonus }}"
          [minimumForSuccess]="selectedCreature?.armorClass"
          [advantage]="creature.hasAdvantage"
          [disadvantage]="creature.hasDisadvantage"
          [asterisk]="action.allowedInMultipleAttacks">
        </app-action-button>
        <app-action-button
          [label]="action.name"
          [diceEquation]="action.dice">
        </app-action-button>
        <h6 class="hit-dice"> {{ action.actionBonus }}</h6>
      </div>
      <div *ngIf="action.moreInfo">
        <div class="action-group">
          <h4 class="hit-text"> {{ action.name}} </h4>        
          <a class="hit-dice" href="{{ creature.link }}" target="_blank"> - Book {{ creature.page }}</a>
        </div>
      </div>
      <hr/>
    </div>
  </div>