<div *ngIf="!shrink">
  <div class="offense-header">
    <h1 class="creature-name">Actions ({{ asset.numberOfActions }})</h1>
    <mat-icon (click)="refreshAttack()">refresh</mat-icon>
  </div>
  <div *ngIf="asset.attackNotes">
    <h5><strong>Multiattack:</strong> {{ asset.attackNotes }}</h5>
    <hr />
  </div>
  <div *ngFor="let action of asset.actions">
    <app-editor-toolbar
    *ngIf="asset.editing"
    [tools]="tools"
    (optionClick)="asset.ModifyAction($event, action)">
  </app-editor-toolbar>
    <div *ngIf="action.isRollableAction">
      <h5 class="attack-type">
        {{ action.name }}: (Range {{ action.range }})
      </h5>
      <app-action-button
        [label]="action.attackType || action.name"
        [diceEquation]="action.dice"
      >
      </app-action-button>
      <h6 class="hit-dice">{{ action.actionBonusInfo }}</h6>
    </div>
    <div *ngIf="action.isNonRollableAction">
      <h5 class="attack-type">
        {{ action.name }}
      </h5>
      <h6 class="hit-dice">{{ action.actionBonusInfo }}</h6>
    </div>
    <div *ngIf="action.isAttackAction">
  
      <div>
        <h5 class="attack-type">
          {{ action.name }}: ({{action.rangeType}} - {{ action.range }})
        </h5>
        <app-action-button
          label="Attack"
          diceEquation="{{ 'd20+' + action.attackModifier }}"
          [minimumForSuccess]="selectedAsset?.armorClass"
          [advantage]="asset.hasAdvantage"
          [disadvantage]="asset.hasDisadvantage"
          [asterisk]="action.numberOfAttacksAllowed"
        >
        </app-action-button>
        <app-action-button
          *ngIf="action.attackType"
          [label]="action.attackType"
          [diceEquation]="action.dice"
        >
        </app-action-button>
        <app-action-button
          *ngIf="action.bonusDamageDice"
          [label]="action.bonusDamageType"
          [diceEquation]="action.bonusDamageDice"
        >
        </app-action-button>
      </div>
      <h5 *ngIf="!action.name" {{ action.name }}></h5>
      <h6 class="hit-dice">{{ action.actionBonusInfo }}</h6>
      <div *ngIf="action.moreInfo">
        <div class="action-group">
          <h4 class="hit-text">{{ action.name }}</h4>
          <a class="hit-dice" href="{{ asset.link }}" target="_blank">
            - Book {{ asset.page }}</a
          >
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
