.saving-throw-proficiency {
  display: flex;
  padding: 9px;
  background-color: ghostwhite;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;

  &:hover {
    background-color: blanchedalmond;
  }

  &:active {
    background-color: rgb(163, 139, 79);
  }

  .ability {
    width: 60px;
  }

}

.skill {
   width: 100px;
}

.proficiency-group {
   padding-left: 15px;
}

.saving-throw {
    width: 75px;
}

.skill-check {
    width: 120px;
}

h5 {
  margin: 7px;
}

.line {
  width: 1px;
  border-left: 1px solid;
}
