<mat-tab-group>
  <mat-tab label="Adventuring">
    <div class="game-padding">
      <player-adventuring> </player-adventuring>
    </div>
    </mat-tab>
    <mat-tab label="Battle">
      <creature> </creature>
    </mat-tab>
    <mat-tab label="NPC">
      <npc> </npc>
    </mat-tab>
    <mat-tab label="Notes"> </mat-tab>
</mat-tab-group>

<!-- 
<hr>
<h1>Animals/Nature</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NQr4C0UQkxY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7KFoj-SOfHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Wxu_WxO3suI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Cave</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mlLGwW7eHTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/K1JvqHnSHfc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<h1>Battle</h1>
<h3>Basic</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/R4fSR9ovK3Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Kx8dWVuNNqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lAGm9MTyRJ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Mx3KNKHLyBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<h1>Forest</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xHP2GgxYddY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/i-iFpxYy6bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
<h1>Adventure</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BvVwY0_8TQY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h3>Ambiance</h3> 
<hr>
<h1>Tavern</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xu2pESvXcmM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hWPPD5ww0eA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/zQtfnPTlFFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zhdYi9Vwqq4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
