<div class="creature-page">
  <div class="creature-tool-bar">
    <mat-form-field>
      <mat-select
        [placeholder]="'Select Creature'"
        (selectionChange)="onCreatureChange($event)"
      >
        <mat-option
          *ngFor="let creature of creatureSelectionList"
          [value]="creature"
        >
          {{ creature }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="creature-add">
      <button mat-button (click)="addCreature()">Add</button>
    </div>
  </div>
  <div>
    <stats
      [activeEnemies]="dbSessionService.activePlayersList"
      [activeCreatures]="dbSessionService.activeCreatureList"
      (remove)="onRemove($event)">
    </stats>
  </div>
  <!-- <div>
    <span>
      <mat-checkbox
        (change)="onRatingChange(challengeRating)"
        *ngFor="let challengeRating of challengeRatings"
        [(ngModel)]="challengeRating.selected"
      >
        {{ challengeRating.display }}
      </mat-checkbox>
    </span>
  </div> -->
</div>
