
    <mat-form-field>
      <mat-select
        [placeholder]="'Select Creature'"
        (selectionChange)="onCreatureChange($event)"
      >
        <mat-option
          *ngFor="let creature of dbSessionService.creatureSelectionList"
          [value]="creature"
        >
          {{ creature }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <button mat-button (click)="addCreature()">Add</button>



    <stats
      [activeEnemies]="dbSessionService.activePlayersList"
      [activeCreatures]="dbSessionService.activeCreatureList"
      (remove)="onRemove($event)">
    </stats>

  <!-- <div>
    <span>
      <mat-checkbox
        (change)="onRatingChange(challengeRating)"
        *ngFor="let challengeRating of challengeRatings"
        [(ngModel)]="challengeRating.selected"
      >
        {{ challengeRating.display }}
      </mat-checkbox>
    </span>
  </div> -->

