<div  class="form-group">  
    <h2>Ability Modifiers</h2>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Strength"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.strength"
          (change)="onAbilityChange($event.value, 'Strength')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Dexterity"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.dexterity"
          (change)="onAbilityChange($event.value, 'Dexterity')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Constitution"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.constitution"
          (change)="onAbilityChange($event.value, 'Constitution')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Intelligence"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.intelligence"
          (change)="onAbilityChange($event.value, 'Intelligence')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Wisdom"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.wisdom"
          (change)="onAbilityChange($event.value, 'Wisdom')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Charisma"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.charisma"
          (change)="onAbilityChange($event.value, 'Charisma')"
        />
      </mat-form-field>
    </div>
  </div>