<div  class="form-group">  
    <h2>Ability Modifiers</h2>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="STR"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.STR"
          (change)="onAbilityChange($event.value, 'STR')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="DEX"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.DEX"
          (change)="onAbilityChange($event.value, 'DEX')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="CON"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.CON"
          (change)="onAbilityChange($event.value, 'CON')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="INT"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.INT"
          (change)="onAbilityChange($event.value, 'INT')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="WIS"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.WIS"
          (change)="onAbilityChange($event.value, 'WIS')"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="CHA"
          [ngModelOptions]="{ standalone: true }"
          type="number"
          [(ngModel)]="creature.abilities.CHA"
          (change)="onAbilityChange($event.value, 'CHA')"
        />
      </mat-form-field>
    </div>
  </div>