<div>
    <h1>Legendary Actions</h1>
    <h5>{{ asset.legendaryActionsInfo }}</h5>
    <hr>
    <div *ngFor="let legendaryAction of asset?.legendaryActions">
      <div class="action-group">
        <app-editor-toolbar
          *ngIf="asset.editing"
          [tools]="tools"
          (optionClick)="asset.modifyLegendaryAction($event, legendaryAction)">
        </app-editor-toolbar>
        <h4 class="hit-text">{{ legendaryAction.name }}</h4>
        <h6><i>{{ legendaryAction.info }}</i></h6>
      </div>
      <hr>
    </div>
  </div>
