<div class="form-group">
  <h2>Legendary Actions</h2>
  <div class="select-checkbox">
    <mat-checkbox [(ngModel)]="creature.hasLegendaryActions">Are there Legendary Actions?</mat-checkbox>
  </div>
  <div *ngIf="creature.hasLegendaryActions">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Group Info</mat-label>
        <textarea
          matInput
          placeholder="Bonus Information"
          [(ngModel)]="creature.legendaryActionsInfo"
        >
        </textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Name"
          name="name"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="newAction.name"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Action Description</mat-label>
        <textarea
          matInput
          placeholder="Add Description Here"
          [(ngModel)]="newAction.info"
        >
        </textarea>
      </mat-form-field>
    </div>
    <div class="add-button">
      <button mat-button (click)="onTraitAdd()">Add Action</button>
    </div>
  </div>
</div>
