<mat-tab-group>
  <mat-tab
    *ngFor="let activeCreature of activeCreatures; let i = index"
    label="{{ activeCreature.name }}: {{
      activeCreature.currentHitPoints < 1 ? dead : i
    }}"
  >
    <span class="stat-numbers">
      <button
        class="damage-quick-link"
        mat-button
        (click)="activeCreature.currentHitPoints = activeCreature.currentHitPoints - number"
        *ngFor="let number of numbers; let l = index">
        {{ number }}
      </button>
    </span>
    <div class="active-creatures">
      <div
        class="creature-cell"
        [class.creature-dead]="activeCreature.currentHitPoints <= 0">
        <div>
          <h3>{{ activeCreature.name }} - CR: {{ activeCreature.challenge }}</h3>
          <div [style.display]="'flex'">
            <app-ability-score [activeCreature]="activeCreature"></app-ability-score>
            <img src="{{ activeCreature.imgUrl }}" />
          </div>
          <hr>
          <app-saving-throw [creature]="activeCreature"></app-saving-throw>
        </div>
        <div class="trait-grouping">
          <battle-defense [activeCreature]="activeCreature"> </battle-defense>
        </div>
        <div class="trait-grouping"
          [ngClass]="{'has-advantage': offense.advantage, 'has-disadvantage': offense.disadvantage}">
          <battle-offense #offense [activeCreature]="activeCreature"> </battle-offense>
        </div>
        <div class="trait-grouping">
          <div *ngIf="activeCreature?.traits?.length > 0">
            <h3>Traits</h3>
            <div *ngFor="let trait of activeCreature?.traits">
              <div class="action-group">
                <h4 class="hit-text">{{ trait }}</h4>
                <a
                  class="hit-dice"
                  href="{{ activeCreature.link }}"
                  target="_blank"
                >
                  - Book {{ activeCreature.page }}</a
                >
              </div>
            </div>
          </div>
        </div>

        <div
          class="trait-grouping"
          *ngIf="
            activeCreature?.immunities?.length !== 0 ||
            activeCreature.resistances.length !== 0 ||
            activeCreature.conditionImmunities.length !== 0 ||
            activeCreature.vulnerabilities.length !== 0
          "
        >
          <div *ngIf="activeCreature?.immunities?.length !== 0">
            <h3>Immunities</h3>
            <h4 *ngFor="let immunity of activeCreature.immunities">
              - {{ immunity }}
            </h4>
            <hr />
          </div>
          <div *ngIf="activeCreature?.conditionImmunities?.length !== 0">
            <h3>Condition Immunities</h3>
            <h4
              *ngFor="
                let conditionImmunity of activeCreature.conditionImmunities
              "
            >
              - {{ conditionImmunity }}
            </h4>
            <hr />
          </div>
          <div *ngIf="activeCreature?.resistances?.length !== 0">
            <h3>Resistances</h3>
            <h4 *ngFor="let resistance of activeCreature.resistances">
              - {{ resistance }}
            </h4>
            <hr />
          </div>
          <div *ngIf="activeCreature?.vulnerabilities?.length !== 0">
            <h3>Vulnerabilities</h3>
            <h4 *ngFor="let vulnerablility of activeCreature.vulnerabilities">
              - {{ vulnerablility }}
            </h4>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="creature-header">
      <button mat-button (click)="removeCreature(i)">Remove X</button>
      <h2 class="experience">Experience: {{ activeCreature.experience }} -</h2>
      <h2 class="experience">
        Challenge Rating: {{ activeCreature.challenge }} -
      </h2>
      <h2 class="experience">Size: {{ activeCreature.size }}</h2>
    </div>
  </mat-tab>
</mat-tab-group>


