.nav-container {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: lightgray;
  height: 100%;
  width: 200px;
  
  .nav-item {
    cursor: pointer;
    padding: 10px;
    width: 178px;
    border-radius: 4px;
    background-color: gainsboro;

    &:hover {
      background-color: khaki;
    }

    &:active {
      background-color: darkgoldenrod;
    }
  }
}
