<div class="nav-container">
  <div
    class="nav-item"
    *ngFor="let item of navItems"
    (click)="select.emit(item)">
    {{ item }}
  </div>
  <hr>
  <button mat-button (click)="creatureAdded.emit()">Add Creature</button>
  <button mat-button (click)="npcAdded.emit()">Add NPC</button> 
  <button mat-button (click)="playerAdded.emit()">Add Player</button> 
  
  <mat-form-field>
    <mat-select
      [placeholder]="'Select Creature'"
      (selectionChange)="onLoad($event)"
    >
      <mat-option
        *ngFor="let creature of dbSessionService?.creatureSelectionList"
        [value]="creature"
      >
        {{ creature }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

