:host {
    position: relative;;
  }
  
  h1 {
    margin-bottom: 8px;
    margin-top: 7px;
  }
  
  h2,
  h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
  }
  
  mat-form-field {
    width: 130px;
  }
  
  .hc-speed {
    display: flex;
  }
  
  .creature-stat {
    padding-right: 10px;
  }
  
  .mat-icon {
    padding-top: 5px;
    cursor: pointer;
  }
  
  .collapse {
    position: absolute;
    right: 2px;
  }
  
  .damage-action, .healing-action {
   padding-left: 10px;
  }
  
  