@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Overrides

.mat-form-field-infix {
    border-top: 1px;
}

h1,
h4 {
  margin-bottom: 8px;
  margin-top: 7px;
}

h6,
h5 {
  margin-top: 8px;
  margin-bottom: 0px;
}

h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
}