.creature-page {
  display: flex;

  .creature-tool-bar {
    text-align: right;
    padding: 10px;
    height: 100%;
    background-color: #ececec;
    margin: -15px 17px -12px -15px;
    
    .creature-add {
      
    }
  }

  .creature-active-area {
    padding: 10px;
  }

}

