:host {
  position: relative;
  width: 400px;
}

h1,
h4 {
  margin-bottom: 8px;
  margin-top: 7px;
}

h5 {
  margin-top: 8px;
  margin-bottom: 0px;
}

h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.hc-speed {
  display: flex;
}

.creature-stat {
  padding-right: 10px;
}

.mat-icon {
  padding-top: 5px;
  cursor: pointer;
}

.collapse {
  position: absolute;
  right: 2px;
}

.damage-action, .healing-action {
 padding-left: 10px;
}

 .hit-roll {
  padding-left: 7px;
}

.hit-dice, .hit-text {
  padding-left: 4px;
}

.attack-type {
  padding-left: 4px;
}

a {
  padding-top: 6px;
}

