.stat-list {
  padding-top: 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;

  .standard-group {
    max-width: 250px;
  }
}

.trait-grouping {
  padding-left: 30px;
  padding-right: 25px;
  margin-left: 5px;
  border: solid grey;
  border-radius: 5px;
}
