/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Overrides

.mat-form-field-infix {
    border-top: 1px;
}

h1,
h4 {
  margin-bottom: 8px;
  margin-top: 7px;
}

h6,
h5 {
  margin-top: 8px;
  margin-bottom: 0px;
}

h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.select-checkbox {
  margin-bottom: 15px;
}

dm-screen {
 .mat-tab-body-content {
    height: calc(100vh - 65px);
  } 
}