<div>
  <button
    [disabled]="!newAsset.assetType || activeView === 0"
    mat-button
    (click)="onPrevious()"
  >
    Previous
  </button>
  <button
    [disabled]="!newAsset.assetType || activeView === 10"
    mat-button
    (click)="onNext()"
  >
   {{ nextText }}
  </button>
</div>

<div class="add-asset-container">
  <div class="entry-group">
    <div class="entry-field">
      <form autocomplete="off">
        <app-create
          *ngIf="activeView === 0"
          (selected)="onSelect($event)"
          (assetSelected)="onCreatureLoad($event)"
        >
        </app-create>

        <app-ability-info
          *ngIf="activeView === 1"
          [asset]="newAsset"
        >
        </app-ability-info>

        <app-creature-info
          *ngIf="activeView === 2"
          [asset]="newAsset"
          [creatureType]="newAsset.creatureType"
        >
        </app-creature-info>
        
        <app-attributes
          *ngIf="activeView === 3"
          [asset]="newAsset"
        >
        </app-attributes>

        <app-multi-attack
          *ngIf="activeView === 4"
          (multiAttackSelected)="setNextText()"
          [asset]="newAsset"
        >
        </app-multi-attack>
        
        <app-battle-info
          *ngIf="activeView === 5"
          [asset]="newAsset"
        >
        </app-battle-info>
        
        <app-immunity-vulnerability
          *ngIf="activeView === 6"
          [asset]="newAsset"
        >       
        </app-immunity-vulnerability>
        
        <app-proficiency-info
          *ngIf="activeView === 7"
          [asset]="newAsset"
        >
        </app-proficiency-info>
        
        <app-trait-info
          *ngIf="activeView === 8"
          [asset]="newAsset"
        >
        </app-trait-info>
        
        <app-legendary-actions
          *ngIf="activeView === 9"
          [asset]="newAsset"
        >
        </app-legendary-actions>
        
        <app-submit
          *ngIf="activeView === 10"
          (submit)="onSubmit($event)">
        </app-submit>
      </form>
    
    </div>
   
    <app-stats-panel [asset]="newAsset"> </app-stats-panel>
  </div>
</div>
