<div class="form-group">
  <h2>Attributes</h2>
  <mat-form-field class="sense">
    <input
      type="text"
      matInput
      placeholder="Armor"
      [(ngModel)]="asset.armorType"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="onChange($event)"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let armor of armorList" [value]="armor.name">
        {{ armor.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="asset.armorType === 'Natural'">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Additional Armor"
        name="armorClass"
        type="number"
        [ngModel]="asset.additionalArmor"
        (input)="onAdditionalArmorChange($event.target.value)"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Speed"
        name="speed"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="asset.speed"
      />
    </mat-form-field>
  </div>
  <div class="creature-info-area">
    <mat-form-field class="sense">
      <input
        type="text"
        matInput
        placeholder="Senses"
        [(ngModel)]="newSense"
        [ngModelOptions]="{ standalone: true }"
        [matAutocomplete]="senseGroup"
      />
      <mat-autocomplete #senseGroup="matAutocomplete">
        <mat-option *ngFor="let actions of senses" [value]="actions">
          {{ actions }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-button (click)="addSense()">Add</button>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input
      type="text"
      matInput
      placeholder="Languages"
      [(ngModel)]="newLanguage"
      [ngModelOptions]="{ standalone: true }"
      [matAutocomplete]="languageGroup"
    />
    <mat-autocomplete #languageGroup="matAutocomplete">
      <mat-option *ngFor="let language of languages" [value]="language">
        {{ language }}
      </mat-option>
    </mat-autocomplete>
      <!-- <input
        matInput
        placeholder="Languages"
        name="languages"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="newLanguage"
      /> -->
    </mat-form-field>
    <button mat-button (click)="addLanguage()">Add</button>
  </div>
</div>
